## Mini Project 2 (Customer Feedback Analysis)

In [1]:
import pandas as pd
import numpy as np

#### Data Cleaning

In [2]:
# df_test = pd.read_csv("./sentiment-analysis.csv")
# df_test.head()

  Text, Sentiment, Source, Date/Time, User ID, Location, Confidence Score
0  "I love this product!", Positive, Twitter, 202...
1  "The service was terrible.", Negative, Yelp Re...
2  "This movie is amazing!", Positive, IMDb, 2023...
3  "I'm so disappointed with their customer suppo...
4  "Just had the best meal of my life!", Positive...

In [3]:
# df = pd.read_csv("./sentiment-analysis.csv", sep=", ", quotechar='"', engine="python")

# df.head()

,"""Text",Sentiment,Source,Date/Time,User ID,Location,"Confidence Score"""
0,"""""""I love this product!""""",Positive,Twitter,2023-06-15 09:23:14,@user123,New York,"0.85"""
1,"""""""The service was terrible.""""",Negative,Yelp Reviews,2023-06-15 11:45:32,user456,Los Angeles,"0.65"""
2,"""""""This movie is amazing!""""",Positive,IMDb,2023-06-15 14:10:22,moviefan789,London,"0.92"""
3,"""""""I'm so disappointed with their customer sup...",Negative,Online Forum,2023-06-15 17:35:11,forumuser1,Toronto,"0.78"""
4,"""""""Just had the best meal of my life!""""",Positive,TripAdvisor,2023-06-16 08:50:59,foodie22,Paris,"0.88"""

In [4]:
# df.columns = df.columns.str.replace('"', "").str.strip()
# df.head()

,Text,Sentiment,Source,Date/Time,User ID,Location,Confidence Score
0,"""""""I love this product!""""",Positive,Twitter,2023-06-15 09:23:14,@user123,New York,"0.85"""
1,"""""""The service was terrible.""""",Negative,Yelp Reviews,2023-06-15 11:45:32,user456,Los Angeles,"0.65"""
2,"""""""This movie is amazing!""""",Positive,IMDb,2023-06-15 14:10:22,moviefan789,London,"0.92"""
3,"""""""I'm so disappointed with their customer sup...",Negative,Online Forum,2023-06-15 17:35:11,forumuser1,Toronto,"0.78"""
4,"""""""Just had the best meal of my life!""""",Positive,TripAdvisor,2023-06-16 08:50:59,foodie22,Paris,"0.88"""

In [5]:
# df.rename(columns={"Text": "Comments"}, inplace=True)

# # Remove extra quotes from the "Comments" column
# df["Comments"] = df["Comments"].str.replace(r'"+', '"', regex=True)
# df.head()

,Comments,Sentiment,Source,Date/Time,User ID,Location,Confidence Score
0,"""I love this product!""",Positive,Twitter,2023-06-15 09:23:14,@user123,New York,"0.85"""
1,"""The service was terrible.""",Negative,Yelp Reviews,2023-06-15 11:45:32,user456,Los Angeles,"0.65"""
2,"""This movie is amazing!""",Positive,IMDb,2023-06-15 14:10:22,moviefan789,London,"0.92"""
3,"""I'm so disappointed with their customer suppo...",Negative,Online Forum,2023-06-15 17:35:11,forumuser1,Toronto,"0.78"""
4,"""Just had the best meal of my life!""",Positive,TripAdvisor,2023-06-16 08:50:59,foodie22,Paris,"0.88"""

In [6]:
# # Remove quotes from the "Confidence Score" column
# df["Confidence Score"] = df["Confidence Score"].str.replace('"', "")

# # Convert the "Confidence Score" column to float
# df["Confidence Score"] = df["Confidence Score"].astype(float)

# df.head()

,Comments,Sentiment,Source,Date/Time,User ID,Location,Confidence Score
0,"""I love this product!""",Positive,Twitter,2023-06-15 09:23:14,@user123,New York,0.85
1,"""The service was terrible.""",Negative,Yelp Reviews,2023-06-15 11:45:32,user456,Los Angeles,0.65
2,"""This movie is amazing!""",Positive,IMDb,2023-06-15 14:10:22,moviefan789,London,0.92
3,"""I'm so disappointed with their customer suppo...",Negative,Online Forum,2023-06-15 17:35:11,forumuser1,Toronto,0.78
4,"""Just had the best meal of my life!""",Positive,TripAdvisor,2023-06-16 08:50:59,foodie22,Paris,0.88

In [7]:
# df_cleaned = df.dropna()
# df_cleaned.head()

,Comments,Sentiment,Source,Date/Time,User ID,Location,Confidence Score
0,"""I love this product!""",Positive,Twitter,2023-06-15 09:23:14,@user123,New York,0.85
1,"""The service was terrible.""",Negative,Yelp Reviews,2023-06-15 11:45:32,user456,Los Angeles,0.65
2,"""This movie is amazing!""",Positive,IMDb,2023-06-15 14:10:22,moviefan789,London,0.92
3,"""I'm so disappointed with their customer suppo...",Negative,Online Forum,2023-06-15 17:35:11,forumuser1,Toronto,0.78
4,"""Just had the best meal of my life!""",Positive,TripAdvisor,2023-06-16 08:50:59,foodie22,Paris,0.88

In [9]:
# df_cleaned.loc[:, "Date/Time"] = pd.to_datetime(df_cleaned["Date/Time"])

In [14]:
# df_cleaned.dtypes

Comments                    object
Sentiment                   object
Source                      object
Date/Time           datetime64[ns]
User ID                     object
Location                    object
Confidence Score           float64
dtype: object

In [15]:
# df_cleaned.to_csv("sentiment-analysis-cleaned.csv", index=False)

In [19]:
df_cleaned = pd.read_csv("./sentiment-analysis-cleaned.csv")
df_cleaned.head()

,Comments,Sentiment,Source,Date/Time,User ID,Location,Confidence Score
0,"""I love this product!""",Positive,Twitter,2023-06-15 09:23:14,@user123,New York,0.85
1,"""The service was terrible.""",Negative,Yelp Reviews,2023-06-15 11:45:32,user456,Los Angeles,0.65
2,"""This movie is amazing!""",Positive,IMDb,2023-06-15 14:10:22,moviefan789,London,0.92
3,"""I'm so disappointed with their customer suppo...",Negative,Online Forum,2023-06-15 17:35:11,forumuser1,Toronto,0.78
4,"""Just had the best meal of my life!""",Positive,TripAdvisor,2023-06-16 08:50:59,foodie22,Paris,0.88

In [21]:
df_cleaned[["Date", "Time"]] = df_cleaned["Date/Time"].str.split(" ", expand=True)
df_cleaned.head()

In [ ]:
df_cleaned.drop(columns=["Date/Time"], inplace=True)

In [25]:
df_cleaned.head()

,Comments,Sentiment,Source,User ID,Location,Confidence Score,Date,Time
0,"""I love this product!""",Positive,Twitter,@user123,New York,0.85,2023-06-15,09:23:14
1,"""The service was terrible.""",Negative,Yelp Reviews,user456,Los Angeles,0.65,2023-06-15,11:45:32
2,"""This movie is amazing!""",Positive,IMDb,moviefan789,London,0.92,2023-06-15,14:10:22
3,"""I'm so disappointed with their customer suppo...",Negative,Online Forum,forumuser1,Toronto,0.78,2023-06-15,17:35:11
4,"""Just had the best meal of my life!""",Positive,TripAdvisor,foodie22,Paris,0.88,2023-06-16,08:50:59

#### Data Visualization